body {
    background-image: url('../images/brand/main-white-bg.PNG');
    /* background-size: cover; */
}

img.logo {
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
    width: 50%;
}

.center {
    display: block;
    margin: auto;
    margin: auto;
    text-align: center;
}

.mt-5 {
    margin-top: 5rem;
}